.card {
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid black;
    min-height: 120px;
}
.source-container {
    width: 8em;
    /* border: 2px solid black; */
    text-align: center;
}
.card-info-wrapper {
    width: 45em;
    padding-left: 1em;
    height: 120px;
}
.article-img {
    object-fit: contain;
    width: 100%;
}