.main {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    align-items: center;
    justify-content: center;
    h2 {
        text-align: center;
    }
}
.categories-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    label,select {
        margin-left: 1em;
    }
}
.btn-container {
    display: flex;
}