nav {
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    h1 {
        position: absolute;
        text-align: center;
        margin: 0;
    }
    input {
        position: relative;
        left: 20em;
        height: 1.2em;
        width: 20em;
    }
}
